h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.slider {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .slide {
    display: none;
  }
  
  .slide.active {
    display: block;
  }
  
  #review-container {
    position: relative;
  }
  
  #review-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  #review-container p {
    margin-bottom: 10px;
  }
  
  .prev,
  .next {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
  }
  
  .prev {
    margin-right: 10px;
  }
  
  .next:hover,
  .prev:hover {
    background-color: #ddd;
  }
  